.index {
    border: 0;
    width: 100%;
    float: left;
    height: 510px;
}

/*1、3*/
.textleft {
    float: left;
    width: 40%;
    height: 100%;
}

.imgright {
    height: 100%;
    width: 60%;
    float: right;
}

/*2、4*/
.textright {
    margin: 0;
    float: right;
    width: 40%;
}

.imgleft {
    margin: 0;
    width: 60%;
    float: left;
}

div>img {
    height: 510px;
    width: 100%;
}

.text:hover,
.text0:hover {
    color: #FFFFFF;
    background: rgb(5, 5, 5, 0.1);
}


.text:hover>.more>p,
.text0:hover>.more>p {
    color: #FFFFFF;
}

.text0>hr,
.text>hr {
    height: 0px;
    border: 0.5px solid #9f7855;
    margin-bottom: 30px;
}

.text:hover>hr,
.text0:hover>hr {
    border: 0.5px solid #cf9d71;
}

.photobgwhite:hover {
    background: rgb(240, 224, 193, 0.7);
}

.text0 {
    padding: 20% 50px;
    height: 510px;
    background: rgb(240, 224, 193, 0.8);
    font-size: 16px;
    text-align: center;
}

.text {
    padding: 29% 50px;
    background: rgb(240, 224, 193, 0.8);
    font-size: 16px;
    text-align: center;
    height: 510px;
}

.textleft>a,
.textright>a {
    color: #000000;
    text-decoration: none;
}

.text>a:hover,
.text0>a:hover {
    color: #FFFFFF;
}

.text0>h2 {
    margin: 0;
    font-size: 44px;
}

.text>h2 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 44px;
}

.text0>h2>img {
    vertical-align: middle;
}

.more>p {
    height: 100%;
    font-size: 32px;
    font-weight: 550;
    color: #9f7855;
}

.text0:hover>.more>p:hover,
.text:hover>.more>p:hover {
    color: #cf9d71;
}

/*photo*/
.photo1 {
    background: url('../imsges/carousel5.jpg') no-repeat;
    background-size: cover;
}

.photo2 {
    background: url('../imsges/carousel6.jpg') no-repeat;
    background-size: cover;
}

.photo3 {
    background: url('../imsges/carousel7.jpg') no-repeat;
    background-size: cover;
}

.photo4 {
    background: url('../imsges/carousel8.jpg') no-repeat;
    background-size: cover;
}

@media screen and (max-width:800px) {
    .index {
        height: 250px;
    }

    div>img {
        height: 250px;
    }

    .text0>hr,
    .text>hr {
        height: 0px;
        margin-bottom: 8px;
    }

    .text0 {
        padding: 22% 35px;
        height: 250px;
        font-size: 16px;
    }

    .text {
        padding: 30% 35px;
        font-size: 16px;
        height: 250px;
    }

    .text0>h2 {
        margin: 0;
        font-size: 20px;
    }

    .text>h2 {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .more>p {
        font-size: 16px;
        font-weight: 550;
    }
}

@media screen and (max-width:600px) {
    .index {
        height: 200px;
    }

    div>img {
        height: 200px;
    }

    .text0>hr,
    .text>hr {
        height: 0px;
        margin-bottom: 8px;
    }

    .text0 {
        padding: 20% 35px;
        height: 200px;
        font-size: 16px;
    }

    .text {
        padding: 28% 35px;
        font-size: 16px;
        height: 200px;
    }

    .text0>h2 {
        margin: 0;
        font-size: 20px;
    }

    .text>h2 {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .more>p {
        font-size: 16px;
        font-weight: 550;
    }
}

@media screen and (max-width:499px) {
    .index {
        height: 150px;
    }

    div>img {
        height: 150px;
    }

    .text0>hr,
    .text>hr {
        height: 0px;
        margin-bottom: 8px;
    }

    .text0 {
        padding: 20% 35px;
        height: 150px;
        font-size: 16px;
    }

    .text {
        padding: 28% 35px;
        font-size: 16px;
        height: 150px;
    }

    .text0>h2 {
        margin: 0;
        font-size: 20px;
    }

    .text>h2 {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .more>p {
        font-size: 16px;
        font-weight: 550;
    }
}